.catalog__filters {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;

  .filter-btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    color: gray;
    cursor: pointer;
    transition: background-color 0.2s;

    &.active,
    &:hover {
      color: red;
      border: 1px solid red;
    }
  }
}
