@use "card";
@use "filters";
@use "search";

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
}

.catalog {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;

  &__header {
    display: flex;
    flex-wrap: wrap; // позволяет фильтрам и поиску плавно переноситься
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 2rem;

    &__header__text {
      width: 100%;
      text-align: center;
      margin-bottom: 1rem;
    }

    .catalog__filters {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      flex: 1 1 300px; // минимальная ширина, растет по мере пространства
    }

    .catalog__search {
      flex: 1 1 200px; // инпут подстраивается под ширину
      max-width: 300px;

      input {
        width: 100%;
        padding: 0.5rem 1rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: clamp(12px, 1vw, 14px);
        outline: none;
        box-sizing: border-box;
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(250px, 1fr)
    ); // резиновый grid
    gap: 1rem;
    justify-items: center;

    .catalog__card {
      width: 100%;
      max-width: 300px;
    }
  }
}
.catalog__loader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 2rem 0;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;

  svg {
    width: 22px;
    height: 20px;
  }
}
