@use "card";
@use "filters";
@use "search";

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
}

.catalog {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .catalog__search {
      width: 100%;
      max-width: 300px;
      margin-top: 0.5rem;

      input {
        width: 100%;
        padding: 0.5rem 1rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 14px;
        outline: none;
        box-sizing: border-box;
      }

      @media (min-width: 768px) {
        margin-top: 0;
      }
    }
    &__header__text {
      text-align: center;
      width: 100%;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    justify-items: start;
    @media (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    .catalog__card {
      max-width: 300px;
      width: 100%;
    }
  }
  .catalog__loader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 2rem 0;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    svg {
      width: 22px;
      height: 20px;
    }
  }
}
